.image-nav, #image-ele {
	display:block;
	float:left;
}
.image-nav {
	background-color:#c2d4ff;
	width:20px;
	height:200px;
}


#advanced-options, #details, #image-area, #autoplay-options {
	display:none;
}

#advanced-options {
	list-style:none;
	margin:0px;
	padding:0px;
}
#advanced-options li {
	float: left;
	width:30%;
}
