#details {
	/* display:none; */
} 

#loading {
	position:fixed;
	background-color:#f00;
	top:0;
	left:0;
	color:#fff;
	padding:2px 2px 2px 2px;
	display:none;
	z-index:9;
	opacity:.6;
	filter: alpha(opacity=60);
}
